/*
> THIS STYLESHEET APPLIES TO INDEX.HTML
> The default text color is #FFFFFF (WHITE)
> The defualt font family is "helvetica neue"
	> Paragraph: 14px black;
	> a: 14px;
	> h1: 20px;
	> h2: 18px;
	> h3: 16px;
> Corners should be rounded by 12px.
*/

/* GLOBAL STYLES */

html {
	font-size: 62.5%;
}

/* BODY STYLES */


body {
/*	background: #FFFFFF;*/
	padding: 0%;
	margin: 0%;
}

article {

}

nav ul li {
	display: inline;
	margin-top: 12px;
	margin-right: 12px;
	
}

/* HEADER STYLES */

header a {
	font-size: 16px; font-size: 1.6rem;
	font-family: 'PT Sans', 'Arial', sans-serif;
	color: #708090;
}

header a:hover {
	color: #DCDCDC;
}

header ul {

}

/* MAIN STYLES */

main {

}

.post {
	position: static;
	float: left;
	width: 35%;
	margin-left: 40px;
	margin-top: 20px;
	padding: 12px;
	border: 2px solid black;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	background-color: #DCDCDC;
}

.post figure img {
	width: 400px;
	height: auto;
	border: 2px solid black;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	background: black;
}

.post figcaption {
	color: #708090;
}

.post h2 {
	font-size: 18px; font-size: 1.6rem;
	font-family: 'PT Sans', 'Arial', sans-serif;
}

.post p {
	font-size: 16px; font-size: 1.6rem;
	font-family: 'PT Sans', 'Arial', sans-serif;
}

/* FOOTER STYLES */


footer {

}

footer ul {

}


