/*
> THIS STYLESHEET APPLIE TO INDEX.HTML
> The default text color is #FFFFFF (WHITE)
> The defualt font family is "helvetica neue"
	> Paragraph: 14pt black;
	> h1: 20;
	> h2: 18;
	> h3: 16;
> Corners should be rounded by 12px.
*/

/* GLOBAL STYLES */


img {
	width: 400px;
	height: auto;
	border: 2px solid black;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}

/* BODY STYLES */


body {
/*	background: #FFFFFF;*/
	padding: 0%;
	margin: 0%;
}

article {
	position: static;
	float: left;
	width: 650px;
	margin: 20px;
	padding: 12px;
	border: 2px solid black;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}

nav ul li {
	display: inline;
	margin-right: 12px;
}

/* HEADER STYLES */

header {

}

header ul {

}

/* MAIN STYLES */

main {

}

/* FOOTER STYLES */


footer {

}

footer ul {

}


