.block {
	width: 500px;
	height: 290px;
	border: 10px double black;
	border-radius: 20px;
	background-color: #9e9e9e;
}

.block h3 {
	background: red;
	color: black;
	position: relative;
	text-align: center;
	border: 2px solid black;
}

#background {
	overflow-x: auto;
	position: absolute;
	border-radius: 10px;
}

#character1 {
	position: relative;
	width: 60px;
	top: 100px;
	left: 220px;
}

#character2 {
	position: relative;
	width: 125px;
	top: 100px;
	left: 300px;
}